.container-memory {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #2b3e50;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  