.container-card {
  .card {
    width: 172px;
    height: 102px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2b3e50;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #d0c9d6;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;

    @media (max-width: 1250px) {
      width: 150px;
      height: 80px;
    }

    @media (max-width: 1150px) {
      width: 130px;
      height: 80px;
    }

    @media (max-width: 1115px) {
      width: 110px;
      height: 70px;
      margin: 3px;
    }

    @media (max-width: 860px) {
      width: 100px;
      height: 60px;
      margin: 3px;
      font-size: 15px;
    }

    @media (max-width: 800px) {
      width: 85px;
      height: 50px;
      margin: 3px;
      font-size: 12px;
    }

    @media (max-width: 800px) {
      width: 95px;
      height: 60px;
      margin: 2px;
      font-size: 12px;
    }
  }

  .Card:hover {
    box-shadow: 5px 5px 5px rgba(52, 69, 221, 0.5);
    cursor: pointer;
  }

  .CardEng,
  .cardRus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .active {
    background-color: #5bc0de;
    color: #fff;
  }

  .right {
    background-color: #5cb85c;
    color: #fff;
  }

  .error {
    background-color: #d9534f;
    color: #fff;
  }

  .correct {
    background-color: #4e5d6c;
    color: #fff;
  }

  .correct:hover {
    cursor: not-allowed;
  }

  .hide {
    display: none;
  }
}
