.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  margin-top: 110px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
