.figure {
  margin: 0;
}

.page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  .carousel {
    height: 80%;
  }
}

.wordCard {
  width: 100%;
  .card {
    display: flex;
    align-items: center;
    .image {
      background-repeat: no-repeat;
      background-size: 150px;
      width: 200px;
      height: 100px;
    }
  }
  .item{
    height: 340px;
  }
}
