.figure {
  margin: 0;
}

.wordCard {
  width: 100%;
  .card {
    display: flex;
    align-items: center;
    .image {
      background-repeat: no-repeat;
      background-size: 150px;
      width: 200px;
      height: 150px;
    }
  }
}
