.container-timer {
  height: 106px;
  width: 106px;
  background: rgba(255, 255, 255, 0.13);
  border: 0.56px solid #fff;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .timer {
    padding: 16px 0px 0px 3px;
    font-family: 'Exo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
  }
}
